.border {
  border-style: solid;
  border-width: 1px;
  padding:2%;
  width: 40%;
  margin:2%;
  
  font-weight: bold;
}
.border:hover{
  background-color: orange;
}

.car-wrapper {
  background-color: grey;
}